<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
		<settings>
			<!--Content Path Settings-->
			<setting name="{SiteName}EnableBrandedModalSpinner" value="false"/>
			<setting name="{SiteName}BrandedModalSpinnerSVG" value="false" />
			<setting name="{SiteName}BrandedModalSpinnerPath" value="/sitecore/media library/SiteNameFolder/Icons/modal_loading" />
			<setting name="RootContentItemPath" value="/sitecore/content" />
			<setting name="SiteNameKey" value="{SiteName}" />
			<setting name="NavigationCategoryTemplatePath" value="/sitecore/templates/Project/GlobalTemplates/NavigationTypes/Navigation Category" />
			<setting name="{SiteName}PageTypesTemplatePath" value="/sitecore/templates/Project/SiteNameFolder/PageTypes/Page Item" />
			<setting name="PageContentTemplatePath" value="/sitecore/templates/Project/GlobalTemplates/CommonObjectTypes/Page Content" />
			<!--Content Path Settings-->
			<!--View Path Settings-->
			<setting name="{SiteName}MetatagsPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_Metatags.cshtml" />
			<setting name="{SiteName}NotificationBannerPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_NotificationBanner.cshtml" />
			<setting name="{SiteName}HeaderPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_Header.cshtml" />
			<setting name="{SiteName}MainPartialViewPath" value="/Views/SiteNameFolder/Renderings/1Column.cshtml" />
			<setting name="{SiteName}PageComponentsPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_PageComponents.cshtml" />
			<setting name="{SiteName}FooterPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_Footer.cshtml" />
			<setting name="{SiteName}ModalSpinnerPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_ModalSpinner.cshtml" />
			<setting name="{SiteName}CarouselMarqueeViewPath" value="/Views/SiteNameFolder/AlexionComponents/MarqueeItems/CarouselMarquee.cshtml" />
			<setting name="{SiteName}LargeMarqueeViewPath" value="/Views/SiteNameFolder/AlexionComponents/MarqueeItems/LargeMarquee.cshtml" />
			<setting name="{SiteName}MediumMarqueeViewPath" value="/Views/SiteNameFolder/AlexionComponents/MarqueeItems/MediumMarquee.cshtml" />
			<setting name="{SiteName}SmallMarqueeViewPath" value="/Views/SiteNameFolder/AlexionComponents/MarqueeItems/SmallMarquee.cshtml" />
			<!--View Path Settings-->
		</settings>
	</sitecore>
</configuration>