<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <!--Content Path Settings-->
      <setting name="SiteTypeTemplates" value="/sitecore/templates/Project/GlobalTemplates/Site Item" />
      <setting name="NavigationCategoryTemplatePath" value="/sitecore/templates/Project/GlobalTemplates/NavigationTypes/Navigation Category" />
      <setting name="IconNavigationLinkTemplatePath" value="/sitecore/templates/Project/GlobalTemplates/NavigationTypes/Icon Navigation Link" />
      <setting name="NavigationLinkTemplatePath" value="/sitecore/templates/Project/GlobalTemplates/NavigationTypes/NavigationLink" />
      <setting name="LargeMarqueeTemplatePath" value="/sitecore/templates/Feature/GlobalComponentTemplates/Large Marquee" />
      <setting name="MediumMarqueeTemplatePath" value="/sitecore/templates/Feature/GlobalComponentTemplates/Medium Marquee" />
      <setting name="SmallMarqueeTemplatePath" value="/sitecore/templates/Feature/GlobalComponentTemplates/Small Marquee" />
      <setting name="FullWidthPromoMarqueeTemplatePath" value="/sitecore/templates/Feature/GlobalComponentTemplates/Full Width Promo" />
      <setting name="DownloadItemTemplatePath" value="/sitecore/templates/Feature/GlobalComponentTemplates/Download Item" />
      <setting name="InformationCardTemplatePath" value="/sitecore/templates/Feature/GlobalComponentTemplates/Information Card" />
      <setting name="InformationCardCollectionTemplatePath" value="/sitecore/templates/Feature/GlobalComponentTemplates/Information Card Collection" />
      <setting name="InformationMediaCollectionTemplatePath" value="/sitecore/templates/Feature/GlobalComponentTemplates/Information Media Collection" />
      <!--Content Path Settings-->
    </settings>
  </sitecore>
</configuration>
