<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <!--Master Database Item Settings-->
	  <setting name="MasterDBKey" value="master" />
	  <!--Master Database Item Settings-->
	  <!--Content Path Settings-->
	  <setting name="DynamicBrandedModalSpinnerPath" value="/sitecore/media library/SiteNameFolder/Icons/modal_loading" />
	  <setting name="DynamicLayoutItemId" value="{CB287EFC-CEA7-49B1-8023-D0D258D472DF}" />
	  <setting name="DynamicLayoutFieldContentId" value="{A036B2BC-BA04-44F6-A75F-BAE6CD242ABF}" />
	  <setting name="DynamicLayoutFallbackCshtmlPath" value="Views/DynamicSiteFolder/Layouts/Default.cshtml" />
	  <setting name="RootContentItemPath" value="/sitecore/content" />
	  <setting name="ProjectsTemplateFolderPath" value="/sitecore/templates/Project" />
	  <setting name="DynamicPageTypesTemplatePath" value="/sitecore/templates/Project/DynamicSiteFolder/PageTypes/Page Item" />
	  <setting name="PageContentTemplatePath" value="/sitecore/templates/Project/GlobalTemplates/CommonObjectTypes/Page Content" />
	  <setting name="NavigationCategoryTemplatePath" value="/sitecore/templates/Project/GlobalTemplates/NavigationTypes/Navigation Category" />
	  <!--Content Path Settings-->
	  <!--View Path Settings-->
	  <setting name="DynamicMetaTagsPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_Metatags.cshtml" />
	  <setting name="DynamicNotificationBannerPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_NotificationBanner.cshtml" />
	  <setting name="DynamicHeaderPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_Header.cshtml" />
	  <setting name="DynamicMainPartialViewPath" value="/Views/SiteNameFolder/Renderings/1Column.cshtml" />
	  <setting name="DynamicPageComponentsPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_PageComponents.cshtml" />
	  <setting name="DynamicFooterPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_Footer.cshtml" />
	  <setting name="DynamicModalSpinnerPartialViewPath" value="/Views/SiteNameFolder/Renderings/_Partials/_ModalSpinner.cshtml" />
	  <setting name="DynamicCarouselMarqueeViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/MarqueeItems/CarouselMarquee.cshtml" />
	  <setting name="DynamicLargeMarqueeViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/MarqueeItems/LargeMarquee.cshtml" />
	  <setting name="DynamicMediumMarqueeViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/MarqueeItems/MediumMarquee.cshtml" />
	  <setting name="DynamicSmallMarqueeViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/MarqueeItems/SmallMarquee.cshtml" />
	  <setting name="DynamicCalloutListViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/FeatureItems/CalloutList.cshtml" />
	  <setting name="DynamicDownloadItemViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/FeatureItems/DownloadItem.cshtml" />
	  <setting name="DynamicInformationCardCollectionViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/FeatureItems/InformationCardCollection.cshtml" />
	  <setting name="DynamicInformationMediaCollectionViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/MediaItems/InformationMediaCollection.cshtml" />
	  <setting name="DynamicImageLayerViewPath" value="/Views/SiteNameFolder/SiteComponentRenderings/MediaItems/ImageLayer.cshtml" />
	  <!--View Path Settings-->
	  <pipelines>
      <initialize>
        <processor type="Sitecore.Project.Template.Solution.DynamicSiteImplementation, Sitecore.Project.Template.Solution" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>